<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I am a Mobile Developer from Russia. Programming languages: Swift, Dart, Kotlin. Main Stack: UIKit, SwiftUI, Flutter.</p>
      </div>
      <div class="col-lg-4">
        <p>If you're looking for cooperation or partnership, contact me via mail in section below.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/SnowLukin" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Check GitHub
        </a>
      </div>
    </div>
  </div>
</section>
